.wrapper {
    width: 70%;
    margin: auto;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}