body {
    font-family:sans-serif;
}
.wrapper {
    padding-top: 50px;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    width: 74%;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}


.carousel-item {
    height: 32rem;
    background-color: #000;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.banner {
    background-color: #999;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.flexed {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.banner-right{
    list-style-type: none;
} 

.banner-right a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    transition: 0.1s;
}

.banner-right a:hover {
    color: lightgreen;
    margin-top: -5px;
    transition: 0.1s;
}

li{
    margin-right: 20px;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    min-height: 200vh;
}



@media(max-width: 506px) {
    .banner {
        display:none;
    }
    .carousel {
        display: none;
    }
}