* {
    margin: 0;
    padding: 0;
}
// INCREMENT
.increment {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.increment > button {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 3px black;
    font-weight: 700;
    cursor: pointer;
}

// SHOW MORE
.show {
    color: blue;
    font-size: x-small;
    font-weight: 700;
    cursor: pointer;
}
.show-more {
    width: 500px;
    margin: 20px auto;
}

// COLORS
.text-center {
    text-align: center;
    margin-bottom: 20px;
}
.colors {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    cursor: pointer;
}
.red {
    transition: 0.5s;
    background-color: red;
}
.blue {
    transition: 0.5s;
    background-color: blue;
}
.green {
    transition: 0.5s;
    background-color: green;
}
.purple {
    transition: 0.5s;
    background-color: purple;
}
.dark {
    background-color: rgb(51, 50, 50);
}
.white {
    background-color: white;
}